.main{
    text-align: center;
    margin-bottom: 5px;
}
.s_input{
    width: 400px;
    margin-top: 10px;
    margin-left: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
}
.img_logo{
    width: 300px;
    margin-top: 100px;
    margin-left: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.b1{
    margin-left: 35%;
    margin-top: 2%;
    align-items: center;
}
.b2{
    margin-left: 12%;
    margin-top: 2%;
    align-items: center;
}
.link{
    border-color: red;
}
.btn{
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: #f3d9d9;
    border: none;
    border-radius: 10px;

    padding: 7px;
}
.main2{
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-left: 5px;
    margin-right: 5px;
}